<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<div class="join">
    <div class="join-con">
        <h1>회원가입</h1>
        <form id="joinForm">
            <div>
                <label for="userEmail">이메일</label>
                <input type="email" id="userEmail" name="userEmail" placeholder="이메일">
            </div>
            <div>
                <label for="userName">이름</label>
                <input type="text" id="userName" name="userName" placeholder="이름">
            </div>
            <div>
                <label for="userPw">비밀번호</label>
                <input type="password" id="userPw" name="userPw" placeholder="비밀번호">
            </div>
            <div>
                <button type="button" onclick="joinFn()">회원가입</button>
            </div>

        </form>


        <script src="/js/member/join.js"></script>

    </div>
</div>

</body>
</html>